# Ignore all .virtual environments directories in all projects
**/.venv/
**/venv/
**/env/

# Ignore all PyCharm .idea directories
**/.idea/


# Python cache directories in all projects
**/__pycache__/