@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-center {
  /* width: var(--view-width); */
  /* border: 1px solid red; */
  margin: 0rem 1rem;
  display: flex;
  /* flex-direction: column; */
  padding: 0.1rem 0rem;
  caret-color: transparent;
}

/*******************
      ASML logo
********************/

.logo-parent {
  padding: 0.2rem;
  border-radius: 5px;
  transition: 0.1s ease-in-out all;
  margin-right: 0.5rem;
  text-decoration: none;
  color: "white";
}

.logo-asml {
  margin-bottom: 0.25rem;
  width: 2.85rem;
  height: 1rem;
  /* background-image: url('./assets/ASML_LOGO/ASML_LOGO.png'); */
  background-image: url("./assets/ASML_LOGO.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-VRSS {
  /* width: 2.85rem; */
  user-select: none;
  font-size: 0.75rem;
  font-weight: 500;

  /* text-align: center; */
}

.logo-cci {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 2.5rem;
  user-select: none;
  font-size: 0.75rem;
  height: 1.18rem;
  font-weight: 500;
  background-color: red;
  border-radius: 8px;
  padding-top: 1px;
  /* padding-bottom: 8px; */
  padding-left: 3px;
  padding-right: 5px;
  /* text-align: center; */
  /* align-self: center; */
}
.logo-cci-internal {
  align-self: center;
}

.logo-version {
  user-select: none;
  font-size: 0.75rem;
  padding-top: 2px;
}

.logo-seperator-parent {
  width: 1.25rem;
  border-left: 1px solid grey;
  /* border: 2px solid red; */
  height: 2.5rem;
}
